html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav {
  position: relative;
  left: 50px;
  bottom: 2px;

  
}

.logo {
  height: 150px;
  width: 300px;
}

#dine {
  position: relative;
  left:30px;
  bottom: 10px;
}


body{
  background-image: url("./backgroundImage.jpg");
}

.textCard {
  height:100px;
  text-align: center;
}


.category {
  height: auto;
  width:auto;
  max-height: auto;
  overflow: hidden;
}

.buttons {
  padding-bottom: 55px;
}


h3{
  color: black;
  text-align: center;
}

h5 {
  text-align: center;
  
}

.choose {
  position: relative;
  left:35px;
  top: 20px;
}

#map{
  height: 500px;

}

/* * {
    margin:0;
    padding:0;
  
}

body{
  background-image: url("./assets/backgroundImage.jpg");
  margin-bottom: 2%;
}

html {
  scroll-behavior: smooth;
}

h1{
  color: teal;
  font-weight: bold;
  text-align: center;  
}

.col-md-2, .col-md-4, .col-md-12{
  padding: 0px;
  margin: 0px;
  width: 100%;
}

h2{
  color: rgb(83, 83, 83);
  text-align: center;
}

h3{
  color: rgb(83, 83, 83);
  text-align: center;
}

#map{
    height: 500px;

  } */

.slidecontainer {
    width: 100%;
}
  
button{
  width:100%;
}



  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;

    background: black;

    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    
    background: yellow;

    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    background: yellow;
    color:yellow;

    cursor: pointer;
  }

  #selectedRestaurant{
    
    max-width: auto;
    padding: 28px;
    background-color: rgba(255,255,255,.9);
    position: relative;
    
  }

#test4 {
  height:auto;
  
}
#test5 {
  height:auto;
  
}
#test6{
  height:auto;
  
}
#test7{
  height:auto;
  
}

/*     font-weight: bold;
    font-size: larger;
    margin: auto;
    background-color: whitesmoke;
    color: teal;
    padding-left: 20px;
    padding-right: 20px;
    }
 */


    #foodCard{
      height: 210px;
      width: 210px;
      /* position: absolute; */
      bottom: 100px;
      right: 20px;
      top: 10px;
    }



    .carousel.carousel-slider .carousel-item{
      height: 210px;
      width: 210px;
      min-height: 210px;
    }

.carousel.carousel-slider{
  height: 210px !important;
}    


#carousel-item{
  height: 210px;
}
.carouselPhoto{
  height: 210px;
}

.infoText{
  display: flex;
  justify-content: space-between;
  height: auto;
}


.infoFooter{
  display: flex;
  justify-content: end;
  
  /* position: fixed; */
  /* bottom: 0px; */
}
